{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "meteor": true,
    "browser": true,
    "jasmine": true
  },
  "rules": {
    "no-console": 0,
    "prefer-template": 0,
    "import/no-unresolved": 0
  }
}
